body {
}

.movie {
    margin-bottom: 3rem;  
    border: 1px solid mediumorchid;
    padding: 10px;
}

.title {
    font-weight: bold;
    color: mediumorchid;
}

.btn-purple {
    background-color: mediumorchid;
    color: white;    
}
