
<h1>MovieList</h1>

@if (MovieAdded)
{
    <div class="alert alert-success">
        @AddToCartMessage
    </div>
}


@if (!Movies.Any())
{
    <p>No movies to show.</p>
}
else
{
    @foreach (var movie in Movies)
    {
        //pass movie object to different component and print whatever's in that component
        <IndividualMovie Movie="movie" DeleteMovie="() => DeleteMovie(movie)" AddMovieToCart="() => AddMovieToCart(movie)" />
    }
}


@code {

    //parameter tag requires a property
    [Parameter]
    public List<Movie> Movies { get; set; }

    public string AddToCartMessage { get; set; }

    public bool MovieAdded { get; set; } = false;

    private void AddMovieToCart(Movie movie)
    {
        MovieAdded = true;
        AddToCartMessage = $"{movie.Title} has been succesfully added to your cart.";
    }

    private void DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }

}
