@page "/genre/create"
@inject IGenreService service

<h3>CreateGenre</h3>


@*Blazor form*@
<EditForm Model="genre" OnValidSubmit="CreateNewGenre">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name</label>
        <div>
            <InputText class="form-control" @bind-Value="genre.Name"></InputText>
            <ValidationMessage For="() => genre.Name"/>
        </div>
        <label>Adult Only?</label>
        <div>
            <InputCheckbox class="form-control" @bind-Value="genre.IsAdult"></InputCheckbox>
            <ValidationMessage For="() => genre.IsAdult" />
        </div>

        <button class="btn btn-primary" type="submit">Create Genre</button>
    </div>
</EditForm>




@code {
    private Genre genre;

    protected override void OnInitialized()
    {
        genre = new Genre();
    }

    private void CreateNewGenre()
    {
        service.AddGenre(genre);        
    }
}
