@page "/"
@page "/home"
@inject IMovieService service

@if (movies == null)
{
    <p>LOADING...</p>
}
else
{
    @*load component in razor page*@
    <MovieList Movies="@movies" />
}


@code{

    List<Movie> movies;

    protected override async void OnInitialized()
    {
        //DEPENDENCY INJECTION IN BLAZOR -> top of the page
        movies = await service.GetMoviesAsync();
    }
}